{% extends 'base.html' %}
{% load static %}
{% block content %}
<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-conten padding-y bg">
    {% include 'includes/alerts.html' %}
    <div class="container">
        <div class="row">
            {% include 'includes/dashboard_sidebar.html' %}
            <main class="col-md-9">
                <div class="card">
                    <div class="card-header">
                        <strong class="card-title">Change Password</strong>
                    </div>
                    <div class="card-body">
                        <form action="{% url 'edit_password' %}" method="post">
                            {% csrf_token %}

                            <div class="form-row">
                                <div class="form-group col-12">
                                    <label for="current_password">Current password</label>
                                    <input type="password" name="current_password" id="current_password" class="form-control" required>
                                </div>
                                <div class="form-group col-12">
                                    <label for="new_password">New password</label>
                                    <input type="password" name="new_password" id="new_password" class="form-control" required>
                                </div>
                                <div class="form-group col-12">
                                    <label for="confirm_new_password">Confirm new password</label>
                                    <input type="password" name="confirm_new_password" id="confirm_new_password" class="form-control" required>
                                </div>                                
                            </div>
                            <button type="submit" class="btn btn-primary float-right">Change password</button>
                        </form>
                    </div>
                </div>
            </main>
        </div> <!-- row.// -->
    </div>


</section>
<!-- ========================= SECTION CONTENT END// ========================= -->
{% endblock content %}